<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.trainings.servlets.SortServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>HouseServlet</servlet-name>
    <servlet-class>com.trainings.servlets.HouseServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.trainings.servlets.SearchByPropertyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search_prop</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/sorthouse</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseServlet</servlet-name>
    <url-pattern>/house</url-pattern>
  </servlet-mapping>

</web-app>
